<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.ums.mapper.AdminRoleRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.ums.bean.model.AdminRoleRelation">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="admin_id" property="adminId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <select id="selectByAdminId" resultMap="BaseResultMap">
        select
        id, update_time, create_time, admin_id, role_id
        from ums_admin_role_relation
        where admin_id = #{adminId}
    </select>

    <delete id="deleteByAdminId">
        delete
        from ums_admin_role_relation
        where admin_id = #{adminId}
    </delete>

    <insert id="insert">
        insert into ums_admin_role_relation (update_time, create_time, admin_id, role_id) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.updateTime}, #{item.createTime}, #{item.adminId}, #{item.roleId})
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        delete
        from ums_admin_role_relation
        where role_id = #{roleId}
    </delete>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        select
            id, update_time, create_time, admin_id, role_id
        from ums_admin_role_relation
        where role_id = #{roleId}
    </select>

</mapper>
