<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.ums.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.ums.bean.model.Resource">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="description" property="description" />
        <result column="category_id" property="categoryId" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        id, update_time, create_time, is_deleted, name, url, description, category_id
        from ums_resource
    </select>

    <update id="deleteCategoryByCategoryId">
        update ums_resource
        set category_id = 0
        where category_id = #{categoryId}
    </update>

    <select id="selectByCategoryId" resultMap="BaseResultMap">
        select
        id, update_time, create_time, is_deleted, name, url, description, category_id
        from ums_resource
        where category_id = #{categoryId}
    </select>

    <select id="queryPage" resultMap="BaseResultMap">
        select
        id, update_time, create_time, is_deleted, category_id, name, url, description
        from ums_resource
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="nameKeyword != null">
                and name like concat('%', #{nameKeyword}, '%')
            </if>
            <if test="urlKeyword != null">
                and url like concat('%', #{urlKeyword}, '%')
            </if>
        </where>
    </select>

</mapper>
