<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.ums.mapper.RoleResourceRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.ums.bean.model.RoleResourceRelation">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="role_id" property="roleId" />
        <result column="resource_id" property="resourceId" />
    </resultMap>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        select
        id, update_time, create_time, is_deleted, role_id, resource_id
        from ums_role_resource_relation
        where role_id = #{roleId} and is_deleted = 0
    </select>

    <update id="deleteByRoleId">
        update ums_role_resource_relation
        set is_deleted = 1
        where role_id = #{roleId}
    </update>

    <insert id="insert">
        insert into ums_role_resource_relation (update_time, create_time, role_id, resource_id) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.updateTime}, #{item.createTime}, #{item.roleId}, #{item.resourceId})
        </foreach>
    </insert>

    <delete id="deleteByResourceId">
        update ums_role_resource_relation
        set is_deleted = 1
        where resource_id = #{resourceId}
    </delete>

</mapper>
