<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.ums.mapper.RoleMenuRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.ums.bean.model.RoleMenuRelation">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
    </resultMap>

    <update id="deleteByRoleId">
        update ums_role_menu_relation
        set is_deleted = 1
        where role_id = #{roleId}
    </update>

    <insert id="insertList">
        insert into ums_role_menu_relation (update_time, create_time, role_id, menu_id) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.updateTime}, #{item.createTime}, #{item.roleId}, #{item.menuId})
        </foreach>
    </insert>

    <update id="deleteByMenuId">
        update ums_role_menu_relation
        set is_deleted = 1
        where menu_id = #{menuId}
    </update>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        select
        id, update_time, create_time, is_deleted, role_id, menu_id
        from ums_role_menu_relation
        where role_id = #{roleId} and is_deleted = 0
    </select>

</mapper>
