<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.pms.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.pms.bean.model.Product">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="brand_id" property="brandId" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="product_sn" property="productSn" />
        <result column="name" property="name" />
        <result column="brand_name" property="brandName" />
        <result column="product_category_name" property="productCategoryName" />
        <result column="pic" property="pic" />
        <result column="sub_title" property="subTitle" />
        <result column="description" property="description" />
        <result column="detail_title" property="detailTitle" />
        <result column="detail_description" property="detailDescription" />
        <result column="detail_html" property="detailHtml" />
        <result column="detail_mobile_html" property="detailMobileHtml" />
        <result column="price" property="price" />
        <result column="original_price" property="originalPrice" />
        <result column="sale" property="sale" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="unit" property="unit" />
        <result column="note" property="note" />
        <result column="keywords" property="keywords" />
        <result column="sort" property="sort" />
        <result column="gift_growth" property="giftGrowth" />
        <result column="gift_point" property="giftPoint" />
        <result column="use_point_limit" property="usePointLimit" />
        <result column="service_ids" property="serviceIds" />
        <result column="promotion_type" property="promotionType" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_publish" property="isPublish" />
        <result column="is_new" property="isNew" />
        <result column="is_recommend" property="isRecommend" />
        <result column="is_verify" property="isVerify" />
        <result column="is_preview" property="isPreview" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        id, update_time, create_time, brand_id, product_category_id, product_sn, name, brand_name, product_category_name,
               pic, sub_title, description, detail_title, detail_description, detail_html, detail_mobile_html, price,
               original_price, sale, stock, low_stock, unit, note, keywords, sort, gift_growth, gift_point, use_point_limit,
               service_ids, promotion_type, is_deleted, is_publish, is_new, is_recommend, is_verify, is_preview
        from pms_product
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        select
            id, update_time, create_time, brand_id, product_category_id, product_sn, name, brand_name, product_category_name,
            pic, sub_title, description, detail_title, detail_description, detail_html, detail_mobile_html, price,
            original_price, sale, stock, low_stock, unit, note, keywords, sort, gift_growth, gift_point, use_point_limit,
            service_ids, promotion_type, is_deleted, is_publish, is_new, is_recommend, is_verify, is_preview
        from pms_product
        order by sort desc, create_time desc
    </select>

    <update id="updateByIds">
        update pms_product
        <set>
            <if test="product.updateTime != null">update_time = #{product.updateTime},</if>
            <if test="product.createTime != null">create_time = #{product.createTime},</if>
            <if test="product.brandId != null">brand_id = #{product.brandId},</if>
            <if test="product.productCategoryId != null">product_category_id = #{product.productCategoryId},</if>
            <if test="product.productSn != null">product_sn = #{product.productSn},</if>
            <if test="product.name != null">name = #{product.name},</if>
            <if test="product.brandName != null">brand_name = #{product.brandName},</if>
            <if test="product.productCategoryName != null">product_category_name = #{product.productCategoryName},</if>
            <if test="product.pic != null">pic = #{product.pic},</if>
            <if test="product.subTitle != null">sub_title = #{product.subTitle},</if>
            <if test="product.description != null">description = #{product.description},</if>
            <if test="product.detailTitle != null">detail_title = #{product.detailTitle},</if>
            <if test="product.detailDescription != null">detail_description = #{product.detailDescription},</if>
            <if test="product.detailHtml != null">detail_html = #{product.detailHtml},</if>
            <if test="product.detailMobileHtml != null">detail_mobile_html = #{product.detailMobileHtml},</if>
            <if test="product.price != null">price = #{product.price},</if>
            <if test="product.originalPrice != null">original_price = #{product.originalPrice},</if>
            <if test="product.sale != null">sale = #{product.sale},</if>
            <if test="product.stock != null">stock = #{product.stock},</if>
            <if test="product.lowStock != null">low_stock = #{product.lowStock},</if>
            <if test="product.unit != null">unit = #{product.unit},</if>
            <if test="product.note != null">note = #{product.note},</if>
            <if test="product.keywords != null">keywords = #{product.keywords},</if>
            <if test="product.sort != null">sort = #{product.sort},</if>
            <if test="product.giftGrowth != null">gift_growth = #{product.giftGrowth},</if>
            <if test="product.giftPoint != null">gift_point = #{product.giftPoint},</if>
            <if test="product.usePointLimit != null">use_point_limit = #{product.usePointLimit},</if>
            <if test="product.serviceIds != null">service_ids = #{product.serviceIds},</if>
            <if test="product.promotionType != null">promotion_type = #{product.promotionType},</if>
            <if test="product.isDeleted != null">is_deleted = #{product.isDeleted},</if>
            <if test="product.isPublish != null">is_publish = #{product.isPublish},</if>
            <if test="product.isNew != null">is_new = #{product.isNew},</if>
            <if test="product.isRecommend != null">is_recommend = #{product.isRecommend},</if>
            <if test="product.isVerify != null">is_verify = #{product.isVerify},</if>
            <if test="product.isPreview != null">is_preview = #{product.isPreview},</if>
        </set>
        where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>
