<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.pms.mapper.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.pms.bean.model.Sku">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="product_id" property="productId" />
        <result column="sku_code" property="skuCode" />
        <result column="price" property="price" />
        <result column="promotion_price" property="promotionPrice" />
        <result column="stock" property="stock" />
        <result column="lock_stock" property="lockStock" />
        <result column="low_stock" property="lowStock" />
        <result column="sale" property="sale" />
        <result column="pic" property="pic" />
        <result column="specification" property="specification" />
    </resultMap>

    <select id="selectByProductId" resultMap="BaseResultMap">
        select
        id, update_time, create_time, product_id, sku_code, price, promotion_price, stock,
        lock_stock, low_stock, sale, pic, specification
        from pms_sku
        where product_id = #{productId}
    </select>

    <resultMap id="DTOResultMap" type="online.ahayujie.mall.admin.pms.bean.dto.ProductDTO$SkuDTO">
        <result column="sku_id" property="id" />
        <result column="sku_update_time" property="updateTime" />
        <result column="sku_create_time" property="createTime" />
        <result column="sku_product_id" property="productId" />
        <result column="sku_code" property="skuCode" />
        <result column="sku_price" property="price" />
        <result column="sku_promotion_price" property="promotionPrice" />
        <result column="sku_stock" property="stock" />
        <result column="sku_lock_stock" property="lockStock" />
        <result column="sku_low_stock" property="lowStock" />
        <result column="sku_sale" property="sale" />
        <result column="sku_pic" property="pic" />
        <result column="sku_specification" property="specification" />
        <collection property="skuImages" ofType="online.ahayujie.mall.admin.pms.bean.model.SkuImage">
            <result column="image_id" property="id" />
            <result column="image_update_time" property="updateTime" />
            <result column="image_create_time" property="createTime" />
            <result column="image_sku_id" property="skuId" />
            <result column="image" property="image" />
        </collection>
    </resultMap>

    <select id="selectDTOByProductId" resultMap="DTOResultMap">
        select
        s.id as sku_id,
        s.product_id as sku_product_id,
        s.update_time as sku_update_time,
        s.create_time as sku_create_time,
        s.lock_stock as sku_lock_stock,
        s.low_stock as sku_low_stock,
        s.pic as sku_pic,
        s.price as sku_price,
        s.promotion_price as sku_promotion_price,
        s.sale as sku_sale,
        s.sku_code as sku_code,
        s.specification as sku_specification,
        s.stock as sku_stock,
        i.id as image_id,
        i.sku_id as image_sku_id,
        i.update_time as image_update_time,
        i.create_time as image_create_time,
        i.image as image
        from pms_sku s
        left join pms_sku_image i on s.id = i.sku_id
        where s.product_id = #{productId}
    </select>

</mapper>
