<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.oms.mapper.CartProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.oms.bean.model.CartProduct">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="product_id" property="productId" />
        <result column="product_sku_id" property="productSkuId" />
        <result column="brand_id" property="brandId" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="member_id" property="memberId" />
        <result column="member_username" property="memberUsername" />
        <result column="quantity" property="quantity" />
        <result column="price" property="price" />
        <result column="product_sn" property="productSn" />
        <result column="product_sku_code" property="productSkuCode" />
        <result column="product_name" property="productName" />
        <result column="brand_name" property="brandName" />
        <result column="product_category_name" property="productCategoryName" />
        <result column="product_pic" property="productPic" />
        <result column="specification" property="specification" />
    </resultMap>

</mapper>
