<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.oms.mapper.OrderRefundApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.oms.bean.model.OrderRefundApply">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="order_id" property="orderId" />
        <result column="product_id" property="productId" />
        <result column="sku_id" property="skuId" />
        <result column="member_id" property="memberId" />
        <result column="refund_reason_id" property="refundReasonId" />
        <result column="order_sn" property="orderSn" />
        <result column="member_username" property="memberUsername" />
        <result column="return_amount" property="returnAmount" />
        <result column="reason_name" property="reasonName" />
        <result column="description" property="description" />
        <result column="proof_pics" property="proofPics" />
        <result column="handle_time" property="handleTime" />
        <result column="handle_note" property="handleNote" />
        <result column="status" property="status" />
    </resultMap>

    <select id="selectByPage" resultMap="BaseResultMap">
        select
        id, update_time, create_time, order_id, product_id, sku_id, member_id, refund_reason_id, order_sn,
        member_username, return_amount, reason_name, description, proof_pics, handle_time, handle_note, status
        from oms_order_refund_apply
        order by create_time desc
    </select>

    <select id="queryByPage" resultMap="BaseResultMap">
        select
        id, update_time, create_time, order_id, product_id, sku_id, member_id, refund_reason_id, order_sn,
        member_username, return_amount, reason_name, description, proof_pics, handle_time, handle_note, status
        from oms_order_refund_apply
        <where>
            <if test="orderSn != null">
                order_sn = #{orderSn}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="queryByOrderId" resultMap="BaseResultMap">
        select
        id, update_time, create_time, order_id, product_id, sku_id, member_id, refund_reason_id, order_sn,
        member_username, return_amount, reason_name, description, proof_pics, handle_time, handle_note, status
        from oms_order_refund_apply
        where order_id = #{orderId}
    </select>

</mapper>
