<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.oms.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.oms.bean.model.Order">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="member_id" property="memberId" />
        <result column="member_username" property="memberUsername" />
        <result column="order_sn" property="orderSn" />
        <result column="status" property="status" />
        <result column="order_type" property="orderType" />
        <result column="source_type" property="sourceType" />
        <result column="pay_amount" property="payAmount" />
        <result column="total_amount" property="totalAmount" />
        <result column="freight_amount" property="freightAmount" />
        <result column="promotion_amount" property="promotionAmount" />
        <result column="integration_amount" property="integrationAmount" />
        <result column="coupon_amount" property="couponAmount" />
        <result column="discount_amount" property="discountAmount" />
        <result column="pay_type" property="payType" />
        <result column="delivery_company" property="deliveryCompany" />
        <result column="delivery_sn" property="deliverySn" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="receiver_province" property="receiverProvince" />
        <result column="receiver_city" property="receiverCity" />
        <result column="receiver_region" property="receiverRegion" />
        <result column="receiver_street" property="receiverStreet" />
        <result column="receiver_detail_address" property="receiverDetailAddress" />
        <result column="receiver_post_code" property="receiverPostCode" />
        <result column="coupon_ids" property="couponIds" />
        <result column="use_integration" property="useIntegration" />
        <result column="integration" property="integration" />
        <result column="promotion_info" property="promotionInfo" />
        <result column="note" property="note" />
    </resultMap>

    <resultMap id="OrderListDTOMap" type="online.ahayujie.mall.admin.oms.bean.dto.OrderListDTO">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="order_sn" property="orderSn" />
        <result column="status" property="status" />
        <result column="order_type" property="orderType" />
        <result column="total_amount" property="totalAmount" />
        <result column="pay_type" property="payType" />
        <result column="source_type" property="sourceType" />
        <result column="member_id" property="memberId" />
        <result column="member_username" property="memberUsername" />
    </resultMap>

    <select id="queryList" resultMap="OrderListDTOMap">
        select
        id, create_time, order_sn, status, order_type, total_amount, pay_type, source_type, member_id, member_username
        from oms_order
        <if test="param != null">
            <where>
                <if test="param.orderSn != null">
                    order_sn = #{param.orderSn}
                </if>
                <if test="param.status != null">
                    and status = #{param.status}
                </if>
                <if test="param.orderType != null">
                    and order_type = #{param.orderType}
                </if>
                <if test="param.sourceType != null">
                    and source_type = #{param.sourceType}
                </if>
                <if test="param.memberUsername != null">
                    and member_username = #{param.memberUsername}
                </if>
            </where>
        </if>
        order by create_time desc
    </select>

    <select id="selectOrderStatus" resultType="integer">
        select
        status
        from oms_order
        where id = #{id}
    </select>

</mapper>
