<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.mall.admin.oms.mapper.OrderReturnApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.mall.admin.oms.bean.model.OrderReturnApply">
    <result column="id" property="id" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
        <result column="order_id" property="orderId" />
        <result column="company_address_id" property="companyAddressId" />
        <result column="member_id" property="memberId" />
        <result column="return_reason_id" property="returnReasonId" />
        <result column="order_sn" property="orderSn" />
        <result column="member_username" property="memberUsername" />
        <result column="return_amount" property="returnAmount" />
        <result column="reason_name" property="reasonName" />
        <result column="description" property="description" />
        <result column="proof_pics" property="proofPics" />
        <result column="handle_time" property="handleTime" />
        <result column="handle_note" property="handleNote" />
        <result column="receive_time" property="receiveTime" />
        <result column="receive_note" property="receiveNote" />
        <result column="company_address_name" property="companyAddressName" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="region" property="region" />
        <result column="street" property="street" />
        <result column="detail_address" property="detailAddress" />
        <result column="status" property="status" />
    </resultMap>

    <select id="selectByPage" resultMap="BaseResultMap">
        select
        id, update_time, create_time, order_id, company_address_id, member_id, return_reason_id, order_sn,
        member_username, return_amount, reason_name, description, proof_pics, handle_time, handle_note, receive_time,
        receive_note, company_address_name, receiver_name, receiver_phone, province, city, region, street, detail_address, status
        from oms_order_return_apply
        order by create_time desc
    </select>

    <select id="queryByPage" resultMap="BaseResultMap">
        select
            id, update_time, create_time, order_id, company_address_id, member_id, return_reason_id, order_sn,
            member_username, return_amount, reason_name, description, proof_pics, handle_time, handle_note, receive_time,
            receive_note, company_address_name, receiver_name, receiver_phone, province, city, region, street, detail_address, status
        from oms_order_return_apply
        <where>
            <if test="orderSn != null">
                order_sn = #{orderSn}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectByOrderId" resultMap="BaseResultMap">
        select
            id, update_time, create_time, order_id, company_address_id, member_id, return_reason_id, order_sn,
            member_username, return_amount, reason_name, description, proof_pics, handle_time, handle_note, receive_time,
            receive_note, company_address_name, receiver_name, receiver_phone, province, city, region, street, detail_address, status
        from oms_order_return_apply
        where order_id = #{orderId}
    </select>

</mapper>
